:root{
	--bg: tomato;
	--bgLow: red;
	--fg: white;
	--winSize:  650px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	font-family: sans-serif;
	font-weight: bolder;
	color: tomato;
}
.main-cont{
	border: 10px solid var(--bg);
	box-sizing: border-box;
	/*padding: 5px;*/
	width: var(--winSize);
	display: inline-block;
}
.container-butt{
	display: inline-block;
	padding: 5px;
	display: flex;
	border: 5px solid var(--bg);
	flex-direction: column;
}
.item{
	border: 2px solid var(--bg);
	border-radius: 5px;
	padding: 10px 20px;
}
.button{
	transition: .3s;
	border-radius: 10px;
	font-weight: bolder;
	color: var(--bg);
	cursor: pointer;
	font-family: 'Arial';
}
.button:hover{
	background: var(--bg);
	color: var(--fg);
}
.cont{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5px;
}
.divider{
	width: 20px;
	height: 4px;
	background: var(--bg);
	margin: 10px;
	border-radius: 10px;
}
.menus{
	margin: 5px 0;
	display: flex;
	justify-content: space-evenly;
	padding: 0px 5px;
}
.menu-butt{
	width: 100%;
	border: 2px solid tomato;
	padding: 5px 10px;
	display: flex;
	cursor: pointer;
	transition: .3s;
	justify-content: center;
}
.menu-butt:hover{
	background: tomato;
	color: white;
}
.typetest-container{
	border-radius: 5px;
	margin: 5px;
	border: 2px solid silver;
	padding: 5px;
	display: flex;
	flex-direction: column;
	/*position: relative;*/
	display: none;
	/*display: none;*/
}
.textsContainer{
	overflow: hidden;
	position: relative;
	height: 200px;
}
.stats{
	font-size: 1rem;
	display: flex;
	justify-content: space-evenly;
	border-bottom: 1px solid silver;
}
.texttotype{
	display: none;
	font-size: 1.5rem;
	max-height: 15em;
	line-height: 1.5em;
	transition: .3s;
	/*letter-spacing: 1.2px;*/
	text-align: justify;
	word-break: keep-all;
  	text-justify: inter-word;
	text-overflow: ellipsis;
	position: absolute;
	user-select: none;
	max-width: var(--winSize);
	top: 1px;
}
.input{
	z-index: -999;
	opacity: 0;
	position: absolute;
}
.correct{
	/*transition: .2s ease-in;*/
	color: rgba(10, 192, 103, 1) !important;

}


.spaceHi{
	transition: .2s ease-in;
	border-radius: 2px;
	border-bottom: 2px solid rgba(255, 100, 19, 0.3);
}

.spaceINC{
	transition: .2s ease-in;
	border-radius: 5px;
	border-bottom: 2px solid rgba(255, 10, 19, 0.3);
}

.incorrect{
	transition: .2s ease-in;
	border-radius: 5px;
	background: rgba(255, 10, 19, 0.3);
	text-decoration: underline;
}
.warning{
	background: red;
	border-radius: 5px;
	color: white;
	margin: 5px;
	display: none;
	padding: 10px;
	text-align: center;
	animation: blink .5s ease-in infinite;
}

.wordHil{
	background: tomato;
	color: black;
	border-radius: 5px;
	/*opacity: .3;*/
}
.active{
	position: relative;
	transition: .18s;
	z-index: 23132132131;
	animation: blink 1s ease infinite;
}
.active:before{
	content: '';
	position: absolute;
	width: 2px;
	top: 2px;
	border-radius: 5px;
	height: 28px;
	background: black;
	opacity: .8;
}
.char{
	width: auto;
	color: #170202;
	white-space: nowrap;
}
@keyframes blink{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}

}

.startMenu{
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.text{
	font-size: 1.3em;
	margin-bottom: 10px;
}
.startButt{
	border: 2px solid tomato;
	padding: 5px 15px;
	display: flex;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1.5em;
	transition: .3s;
	justify-content: center;
}
.startButt:hover{
	background: tomato;
	color: white;
}

.RestartMenu{
	height: 100%;
	display: none;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.showWPM{
	font-size: 1.3rem;
}

.restartButt{
	border: 2px solid tomato;
	padding: 5px 15px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1.5em;
	transition: .3s;
	justify-content: center;
}
.restartButt:hover{
	background: tomato;
	color: white;
}

.workings{
	display: block;
}
.notepad-container{
	height: 300px;
	display: none;
	flex-direction: column;
}
.writing-section{
	height: 90%;
	margin: 2px;
	border: 2px solid tomato;
	color: black;
	outline: none;
	padding: 10px;
	border-radius: 5px;
	font-family: 'Roboto', sans-serif !important;
	font-weight: 500;
	overflow: auto;
	font-size: 15px;
}
.title{
	align-self: flex-end;
	margin: 5px;
	user-select: none;
	transition: .3s;
}
.title:hover{
	opacity: .5;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}