.theme-dark{
	--background-primary: #121518 !important;
    --background-secondary: #0e1014 !important;
    --channeltextarea-background: #222326 !important;
}
.peopleList-2VBrVI {
	background: #121518 !important;
}
.tabBody-2dgbAs {
	background: #121514 !important;
}
.container-3gW0Nv, .searchHeader-gz2NXf {
    background: #121514 !important;
}